<div class="footer">
    <div class="header_footer"></div>
        <div class="container-fluid size_new">
            <div class="logo_footer"><a href="/"></a></div>
        </div>
    </div>
    <div class="footer_contact">
        <div class="container-fluid size_new">
            <div class="contact_content">
                <div class="item_contact"><a href="">Giới thiệu</a></div>
                <div class="item_contact"><a href="">Điều khoản sử dụng</a></div>
                <div class="item_contact"><a href="">Quảng cáo</a></div>
                <div class="item_contact"><a href="/panel/admin" target="_blank">Panel</a></div>
            </div>
        </div>
    </div>
</div>